.git
.github

.env
.env.*
*.pem
*.key

node_modules
**/node_modules

dist
**/dist

coverage
playwright-report
test-results

**/*.test.ts
**/*.test.tsx
**/*.spec.ts
**/*.spec.tsx
**/test
**/tests
e2e

.vscode
.idea
.DS_Store