# Runtime config

NODE_ENV=development
APP_VERSION=0.0.0
LOG_LEVEL=debug

HOST=127.0.0.1
PORT=3000

SHUTDOWN_TIMEOUT_MS=10000

# Non-secret integration config

GITHUB_APP_ID=

# Secrets

DATABASE_URL=
GITHUB_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=